{% extends "base.html" %}

{% block title %}{{ super() }} - Listar usuários {% endblock title %}

{% block content %}

<div class="container">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Tipo de usuário</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td scope="row">{{ user.name }}</td>
            <td scope="row">{{ user.email }}</td>
            {% if user.urole == 'admin' %}
            <td scope="row">Administrador</td>
            {% else %}
            <td scope="row">Usuário comum</td>
            {% endif %}
            {% if current_user.get_urole() == 'admin' %}
            <td scope="row"><button type="button" class="btn btn-outline-dark"><a href="{{ url_for('usuarios.deletar',_id=user.id) }}">Deletar</a></button></td>
            {% endif %}
            <td scope="row"><button type="button" class="btn btn-outline-dark"><a href="{{ url_for('usuarios.editar',_id=user.id) }}">Editar</a></button></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</div>

{% endblock content %}